<mat-drawer-container class="flex flex-col w-full">
    <mat-drawer #drawerOne class="pointrule_reset_popup dark:bg-gray-900"
                [mode]="'over'"
                [opened]="false"
                [position]="'start'"
                [disableClose]="true">

        <!-- Delete single point rule popup -->
        <ng-container *ngIf="DeleteMode">
            <ng-container *ngIf="isSuccess">
                <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                    <div>
                        <button
                                *ngIf="errorMessage"      
                                mat-icon-button style="background-color:#ccc; position: fixed; right: 1rem;"
                                [matTooltip]="'Close'"
                                [routerLink]="['/point-rules']">
                            <mat-icon class="text-white"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="mt-8">
                    <div class="pointrule_successMessage_scss" *ngIf="successMessage">
                        {{ successMessage }} 
                    </div>
                    <div class="pointrule_errorMessage_scss" *ngIf="errorMessage">
                        {{ errorMessage }} 
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="!isSuccess">
                <div class="pointrule_parent_popup">
                    <div>
                        <div class="pointrule_delete_scss"> Are you sure want to delete? </div>
                    </div>    
                    <div class="pointrule_child_btn">
                        <button
                                mat-flat-button
                                [color]="'primary'"
                                [matTooltip]="'Cancel'"
                                (click)="cancelPopup()"
                                >
                            Cancel
                        </button>
    
                        <button
                                mat-flat-button
                                [color]="'primary'"
                                [matTooltip]="'Proceed'"
                                (click)="proceedPopup()"
                                >
                            Proceed
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </mat-drawer>
    
    <mat-drawer #drawerTwo class="w-2/4 dark:bg-gray-900"
                [mode]="'over'"
                [opened]="false"
                [position]="'end'"
                [disableClose]="true">

        <!-- Member Tier List-->
        <ng-container *ngIf="MemberTierListMode">
            <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                <div class="">
                    <button mat-icon-button style="background-color:#ccc;"
                            [matTooltip]="'Close'"
                            (click)="drawerTwo.close()">
                        <mat-icon class="text-white"
                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
            </div>  

            <div class="flex-auto">
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Member Tier</div>
                    </div>
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">

                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                                <mat-icon class="icon-size-5"
                                          matPrefix
                                          [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input matInput
                                       [formControl]="memberTierSearchInputControl"
                                       [autocomplete]="'off'"
                                       [placeholder]="'Search Member Tier'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Member Tier List -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container *ngIf="(memberTiers$ | async) as memberTiers">
                        <ng-container *ngIf="memberTiers.length; else noPoints">
                            <div class="grid">
                                <!-- Header -->
                                <div class="point_rule_tier_grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                     matSort
                                     matSortDisableClear>
                                    <div></div>
                                    <div class="sm:block">
                                        Name
                                    </div>
                                    <div class="hidden md:block">
                                        Level
                                    </div>
                                    <!-- <div class="sm:block"
                                         [mat-sort-header]="'name'">
                                        Name
                                    </div>
                                    <div class="hidden md:block"
                                         [mat-sort-header]="'level'">
                                        Level
                                    </div> -->
                                </div>
                                <!-- Rows -->
                                <ng-container *ngIf="(memberTiers$ | async) as memberTiers">
                                    <ng-container *ngFor="let memberTier of memberTiers; trackBy: trackByFn">
                                        <div class="point_rule_tier_grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                            <div>
                                                <input type="radio" name="memberTier" #memberTier (click)="selectTier(memberTier.id,memberTier.name)" />
                                            </div>

                                            <div class=" truncate">
                                                {{memberTier.name}}
                                            </div>

                                            <div class="hidden md:block truncate">
                                                Level {{memberTier.level}}
                                            </div>

                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <div class="">
                                <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                    [ngClass]="{'pointer-events-none': isLoading}"
                                    [length]="memberTierPagination.length"
                                    [pageIndex]="memberTierPagination.page"
                                    [pageSize]="memberTierPagination.limit"
                                    [pageSizeOptions]="[10, 25, 100]"
                                    [showFirstLastButtons]="true"></mat-paginator>
                            </div>


                        </ng-container>
                    </ng-container>

                    <ng-template #noMembers>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no members!</div>
                    </ng-template>

                </div>
            </div>
        </ng-container>
        <!-- Point Basket List -->
        <ng-container *ngIf="PointBasketListMode">
            <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                <div class="">
                    <button mat-icon-button style="background-color:#ccc;"
                            [matTooltip]="'Close'"
                            (click)="drawerTwo.close()">
                        <mat-icon class="text-white"
                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
            </div>          
            <div class="flex-auto">
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none"> Point Basket </div>
                    </div>
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                                <mat-icon class="icon-size-5"
                                          matPrefix
                                          [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input matInput
                                       [formControl]="pointBasketSearchInputControl"
                                       [autocomplete]="'off'"
                                       [placeholder]="'Search Point Basket'">
                            </mat-form-field>
                        </div>

                        <!-- <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                            <button class="ml-4" style="position: relative; bottom: 10px;"
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="createNewPointBasket()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Add</span>
                            </button>
                        </div> -->
                        
                    </div>
                </div>

                <!-- Point Basket List -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container *ngIf="(pointBaskets$ | async) as pointBaskets">
                        <ng-container *ngIf="pointBaskets.length; else noPointBasket">
                            <div class="grid">
                                <!-- Header -->
                                <div class="point_rule_tier_grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                     matSort
                                     matSortDisableClear>
                                    <div></div>
                                    <div class="sm:block">
                                        Name
                                    </div>
                                    <!-- <div class="sm:block"
                                         [mat-sort-header]="'name'">
                                        Name
                                    </div>-->
                                </div>
                                <!-- Rows -->
                                <ng-container *ngIf="(pointBaskets$ | async) as pointBaskets">
                                    <ng-container *ngFor="let pointBasket of pointBaskets; trackBy: trackByFn">
                                        <div class="point_rule_tier_grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                            <div>
                                                <input type="radio" name="pointBasket" #pointBasket (click)="selectPointBasket(pointBasket.id,pointBasket.name)" />
                                            </div>

                                            <div class=" truncate">
                                                {{pointBasket.name}}
                                            </div>

                                            <!-- <div class="hidden md:block truncate">
                                                Level {{memberTier.level}}
                                            </div> -->

                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <div class="">
                                <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                    [ngClass]="{'pointer-events-none': isLoading}"
                                    [length]="pointBasketPagination.length"
                                    [pageIndex]="pointBasketPagination.page"
                                    [pageSize]="pointBasketPagination.limit"
                                    [pageSizeOptions]="[10, 25, 100]"
                                    [showFirstLastButtons]="true"></mat-paginator>
                            </div>
                        </ng-container>
                    </ng-container>

                    <ng-template #noPointBasket>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no point basket!</div>
                    </ng-template>

                </div>
            </div>
        </ng-container>
    </mat-drawer>

    <mat-drawer-content>
        <div class="flex flex-col w-full" style="background:#fff;">

            <!-- View Detail -->
            <ng-container *ngIf="!AddMode">
                <div class="relative w-full h-40 sm:h-20 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
                    <!-- Close button -->
                    <div class="flex items-center w-full max-w-3xl mx-auto pt-2">
                        <div class="mt-3 text-4xl w-full font-bold truncate">
                            {{pointRule.name}}
                            <button mat-stroked-button
                                    (click)="toogleStoreAddFormMode(true)">
                                <mat-icon class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                <span class="ml-2">Edit</span>
                            </button>
                        </div>
                        <button mat-icon-button
                                [matTooltip]="'Close'"
                                [routerLink]="['/point-rules']"
                                style="background:#ccc;">
                            <mat-icon class="text-white"
                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </button>
                    </div>
                </div>

                <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0" style="background:#fff;">
                    <div class="w-full max-w-3xl">
                        <div class="flex flex-col mt-4 pt-6 space-y-3">

                            <ng-container *ngIf="pointRule.description">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Description: </div>
                                    <div class="ml-6 leading-6">{{pointRule.description}}</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.reward_code">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Reward Code: </div>
                                    <div class="ml-6 leading-6">{{pointRule.reward_code}}</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.type === 0">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Type: </div>
                                    <div class="ml-6 leading-6">Basic Rule</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.type === 1">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Type: </div>
                                    <div class="ml-6 leading-6">Event Rule</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.type === 2">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Type: </div>
                                    <div class="ml-6 leading-6">Birthday Event</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.type === 3">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Type: </div>
                                    <div class="ml-6 leading-6">Referral Rule</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.type === 3">
                                <ng-container *ngIf="pointRule.point_rewarded_at === 1">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Point Rewarded At: </div>
                                        <div class="ml-6 leading-6">After Register</div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="pointRule.point_rewarded_at === 2">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Point Rewarded At: </div>
                                        <div class="ml-6 leading-6">After First Purchase</div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="pointRule.point_amount">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Point Aamount: </div>
                                        <div class="ml-6 leading-6">{{pointRule.point_amount}}</div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="pointRule.new_member_to_earn_points">
                                    <ng-container *ngIf="pointRule.new_member_point_amount">
                                        <div class="flex sm:items-center">
                                            <div class="w-1/4">New Member Point Amount: </div>
                                            <div class="ml-6 leading-6">{{pointRule.new_member_point_amount}}</div>
                                        </div>
                                    </ng-container>
                                </ng-container>
    
                                <ng-container *ngIf="pointRule.min_expense">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Minimum Order Expense: </div>
                                        <div class="ml-6 leading-6">{{pointRule.min_expense}}</div>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="pointRule.type === 0 || pointRule.type === 1 || pointRule.type === 2">
                                <ng-container *ngIf="pointRule.dollar_value">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Dollar Value: </div>
                                        <div class="ml-6 leading-6">{{pointRule.dollar_value}}</div>
                                    </div>
                                </ng-container>
    
                                <ng-container *ngIf="pointRule.point_value">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Point Value: </div>
                                        <div class="ml-6 leading-6">{{pointRule.point_value}}</div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="pointRule.min_expense">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Minimum Order Expense: </div>
                                        <div class="ml-6 leading-6">{{pointRule.min_expense}}</div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="pointRule.priority === 1">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Priority: </div>
                                        <div class="ml-6 leading-6">Low</div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="pointRule.priority === 2">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Priority: </div>
                                        <div class="ml-6 leading-6">Medium</div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="pointRule.priority === 3">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Priority: </div>
                                        <div class="ml-6 leading-6">High</div>
                                    </div>
                                </ng-container>
                            </ng-container>                      

                            <ng-container *ngIf="pointRule.store_selection_type === 0">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Store Selection Type: </div>
                                    <div class="ml-6 leading-6">All</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.store_selection_type === 1">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Store Selection Type: </div>
                                    <div class="ml-6 leading-6">Selected</div>
                                </div>

                                <ng-container *ngIf="pointRule.store_codes">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Store Selection Code: </div>
                                        <div class="ml-6 leading-6">{{pointRule.store_codes}}</div>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="pointRule.status === 'active'">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Status: </div>
                                    <div class="ml-6 leading-6">Active</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.status === 'inactive'">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Status: </div>
                                    <div class="ml-6 leading-6">Inactive</div>
                                </div>
                            </ng-container>
                            
                            <ng-container *ngIf="pointRule.member_tierFullName">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Member Tier: </div>
                                    <div class="ml-6 leading-6">{{pointRule.member_tierFullName}}</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.point_basket">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Point Basket: </div>
                                    <div class="ml-6 leading-6">{{pointRule.point_basket.name}}</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.validity_type === 1">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Validity Type: </div>
                                    <div class="ml-6 leading-6">No Range</div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="pointRule.validity_type === 2">
                                <div class="flex sm:items-center">
                                    <div class="w-1/4">Validity Type: </div>
                                    <div class="ml-6 leading-6">Custom</div>
                                </div>

                                <ng-container *ngIf="pointRule.start_date">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">Start Date: </div>
                                        <div class="ml-6 leading-6">{{pointRule.start_date | date:'MMM dd, y'}}</div>
                                    </div>
                                </ng-container>
    
                                <ng-container *ngIf="pointRule.end_date">
                                    <div class="flex sm:items-center">
                                        <div class="w-1/4">End Date: </div>
                                        <div class="ml-6 leading-6">{{pointRule.end_date | date:'MMM dd, y'}}</div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- Edit Form-->
            <ng-container *ngIf="AddMode">
                <div class="relative w-full h-20 sm:h-20 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700" style="position: sticky !important;top: 0;z-index: 99;">
                    <div class="flex items-center w-full max-w-3xl mx-auto pt-2">
                        <div class="mt-3 text-4xl w-full font-bold truncate">Edit Point Rule</div>
                        <button mat-icon-button
                                [matTooltip]="'Close'"
                                (click)="toogleStoreAddFormMode(false)"
                                style="background:#ccc;">
                            <mat-icon class="text-white"
                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </button>
                    </div>
                </div>
                

                <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
                    <div class="w-full max-w-3xl">
                        <form [formGroup]="PointRuleEditForm">

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Name</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                    <input matInput
                                        [formControlName]="'name'"
                                        [placeholder]="'name'"
                                        [spellcheck]="false">
                                </mat-form-field>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Description</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                    <input matInput
                                        [formControlName]="'description'"
                                        [placeholder]="'description'">
                                </mat-form-field>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Reward Code</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                    <input matInput
                                        [formControlName]="'reward_code'"
                                        [placeholder]="'reward_code'">
                                </mat-form-field>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Type</mat-label>
                                    <mat-select [formControlName]="'type'" [(ngModel)]="typeRuleValue">
                                        <mat-option [value]="0">Basic Rule</mat-option>
                                        <mat-option [value]="1">Event Rule</mat-option>
                                        <mat-option [value]="2">Birthday Event</mat-option>
                                        <mat-option [value]="3">Referral Rule</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <ng-container *ngIf="typeRuleValue === 0 || typeRuleValue === 1 || typeRuleValue === 2">
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-1/3 mr-4">
                                        <mat-label>Dollar Value</mat-label>
                                        <mat-icon matPrefix
                                                class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                            [formControlName]="'dollar_value'"
                                            [placeholder]="'Dollar Value'">
                                    </mat-form-field>
    
                                    <mat-label>To</mat-label>
    
                                    <mat-form-field class="fuse-mat-no-subscript w-1/3 ml-4">
                                        <mat-label>Point Value</mat-label>
                                        <mat-icon matPrefix
                                                class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                            [formControlName]="'point_value'"
                                            [placeholder]="'Point Value'">
                                    </mat-form-field>
                                </div>

                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Minimum Order Expense</mat-label>
                                        <mat-icon matPrefix
                                                class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                            [formControlName]="'min_expense'"
                                            [placeholder]="'Minimum Order Expense'">
                                    </mat-form-field>
                                </div>

                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Priority</mat-label>
                                        <mat-select [formControlName]="'priority'" [(ngModel)]="priorityValue">
                                            <mat-option [value]="0">None</mat-option>
                                            <mat-option [value]="1">Low</mat-option>
                                            <mat-option [value]="2">Medium</mat-option>
                                            <mat-option [value]="3">High</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="mt-8">
                                    <label class="new_checkbox_00">
                                        <input class="new_checkbox_01" type="checkbox" [formControlName]="'stop_further'" [(ngModel)]="stopFurtherValue">
                                        Stop Further
                                    </label>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="typeRuleValue === 3">
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Point Reward At</mat-label>
                                        <mat-select [formControlName]="'point_rewarded_at'" [(ngModel)]="pointRewardedAtValue">
                                            <mat-option [value]="0">None</mat-option>
                                            <mat-option [value]="1">After Register</mat-option>
                                            <mat-option [value]="2">After First Purchase</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Point Amount</mat-label>
                                        <mat-icon matPrefix
                                                class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                            [formControlName]="'point_amount'"
                                            [placeholder]="'Point Amount'">
                                    </mat-form-field>
                                </div>

                                <div class="mt-8">
                                    <label class="new_checkbox_00">
                                        <input class="new_checkbox_01" type="checkbox" [formControlName]="'new_member_to_earn_points'" [(ngModel)]="showNewMemberPointAmount">
                                        New Member to Earn Points
                                    </label>

                                    <ng-container *ngIf="showNewMemberPointAmount">
                                        <mat-form-field class="fuse-mat-no-subscript w-1/2 ml-4">
                                            <mat-label>New Member Point Amount</mat-label>
                                            <mat-icon matPrefix
                                                    class="hidden sm:flex icon-size-5"
                                                    [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                            <input matInput type="number"
                                                [formControlName]="'new_member_point_amount'"
                                                [placeholder]="'New Member Point Amount'">
                                        </mat-form-field>
                                    </ng-container>
                                </div>
    
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Minimum Order Expense</mat-label>
                                        <mat-icon matPrefix
                                                class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                            [formControlName]="'min_expense'"
                                            [placeholder]="'Minimum Order Expense'">
                                    </mat-form-field>
                                </div>
                            </ng-container>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Store Selection Type</mat-label>
                                    <mat-select [formControlName]="'store_selection_type'" [(ngModel)]="storeSelectionTypeValue">
                                        <mat-option [value]="0">All</mat-option>
                                        <mat-option [value]="1">Selected</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <ng-container *ngIf="storeSelectionTypeValue === 1">
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Store Selection</mat-label>
                                        <mat-select [formControlName]="'store_codes'" multiple>
                                            <ng-container *ngFor="let store of getStoreData">
                                                <mat-option [value]="store.code">
                                                    {{ store.name }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                            
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Status</mat-label>
                                    <mat-select [formControlName]="'status'">
                                        <mat-option value="active">Active</mat-option>
                                        <mat-option value="inactive">Inactive</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            
                            <div class="flex sm:items-center mt-8">
                                <div class="w-full text-3xl font-bold">Type Detail</div>
                            </div>

                            <mat-form-field class="fuse-mat-no-subscript w-full hidden ">
                                <input matInput [formControlName]="'member_tier'" />
                            </mat-form-field>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full" (click)="setMemberTierDrawer()">
                                    <mat-label>Member Tier</mat-label>
                                    <input matInput style="cursor:pointer" readonly
                                        [formControlName]="'member_tierFullName'"
                                        placeholder="Select Member Tier">
                                    <mat-icon matSuffix svgIcon="heroicons_outline:external-link" style="cursor:pointer"></mat-icon>
                                </mat-form-field>

                            </div>

                            <mat-form-field class="fuse-mat-no-subscript w-full hidden ">
                                <input matInput [formControlName]="'basket_id'" />
                            </mat-form-field>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full" (click)="setPointBasketDrawer()" >
                                    <mat-label>Point Basket</mat-label>
                                    <input matInput style="cursor:pointer" readonly
                                        [formControlName]="'point_basketName'">
                                    <mat-icon matSuffix svgIcon="heroicons_outline:external-link" style="cursor:pointer"></mat-icon>
                                </mat-form-field>
                            </div>
                            
                            <div class="flex sm:items-center mt-8">
                                <div class="w-full text-3xl font-bold">Validity</div>
                            </div>

                            <!--addValidityValue-->
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Validity Type</mat-label>
                                    <mat-select [formControlName]="'validity_type'" [(ngModel)]="validitytypeValue">
                                        <mat-option [value]="1">No Range</mat-option>
                                        <mat-option [value]="2">Custom</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <ng-container *ngIf="validitytypeValue === 2">
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Start Date</mat-label>
                                        <mat-icon matPrefix
                                                class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                        <input matInput type="datetime-local"
                                            [min]="minDate"
                                            [formControlName]="'start_date'"
                                            [placeholder]="'Start Date'">
                                        <!-- <mat-datepicker-toggle matSuffix
                                                            [for]="startDatepicker">
                                        </mat-datepicker-toggle> -->
                                        <mat-datepicker #startDatepicker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>End Date</mat-label>
                                        <mat-icon matPrefix
                                                class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                        <input matInput type="datetime-local"
                                            [min]="minDate"
                                            [formControlName]="'end_date'"
                                            [placeholder]="'End Date'">
                                        <!-- <mat-datepicker-toggle matSuffix
                                                            [for]="endDatepicker">
                                        </mat-datepicker-toggle> -->
                                        <mat-datepicker #endDatepicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </ng-container>

                            <div class="flex justify-end items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                                <button style="width: 6rem;"
                                        mat-flat-button
                                        [disabled]="PointRuleEditForm.invalid"
                                        [color]="'primary'"
                                        [matTooltip]="'Save'"
                                        (click)="updatePointRule()">
                                    Save
                                </button>

                                <div class="ml-4">
                                    <ng-container *ngIf="canDelete">
                                        <button style="width: 6rem;"
                                                mat-flat-button
                                                [color]="'primary'"
                                                [matTooltip]="'Delete'"
                                                (click)="DeleteDrawer(pointRule.id)"
                                                >
                                                Delete
                                            </button>
                                    </ng-container>

                                    <ng-container *ngIf="!canDelete">
                                    </ng-container>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </ng-container>
        </div>
    </mat-drawer-content>
</mat-drawer-container>



