

<mat-drawer-container class="flex flex-col w-full">
    <mat-drawer class="reset_popup w-2/4 dark:bg-gray-900"
                [mode]="'over'"
                [opened]="false"
                [position]="'end'"
                [disableClose]="true"
                #matDrawer>

        <!-- Delete single transaction popup -->
        <!-- <ng-container *ngIf="DeleteMode">
            <ng-container *ngIf="isSuccess">
                <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                    <div class="">
                        <button mat-icon-button style="background-color:#ccc; position: fixed; right: 1rem;"
                                [matTooltip]="'Close'"
                                (click)="cancelPopup()">
                            <mat-icon class="text-white"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="mt-8">
                    <fuse-alert [appearance]="'soft'"
                                [dismissible]="false"
                                [dismissed]="false"
                                [name]="'alertBox1'"
                                [type]="'success'">
                        <div class="update_scss">
                            Deleted Successfully.
                        </div>
                    </fuse-alert>
                </div>
            </ng-container>
            <ng-container *ngIf="!isSuccess">
                <div class="parent_popup">
                    <div>
                        <div class="delete-scss"> Are you sure want to delete? </div>
                    </div>    
                    <div class="child_btn">
                        <button class="ml-2"
                                mat-flat-button
                                [color]="'primary'"
                                [matTooltip]="'Cancel'"
                                (click)="cancelPopup()"
                                >
                            Cancel
                        </button>
    
                        <button class="ml-2"
                                mat-flat-button
                                [color]="'primary'"
                                [matTooltip]="'Proceed'"
                                (click)="proceedPopup()"
                                >
                            Proceed
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container> -->

    </mat-drawer>
    <mat-drawer-content>
        <div class="flex flex-col w-full" style="background:#fff;">
            <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
                <!-- Header -->
        
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Loader -->
                    <div class="absolute inset-x-0 bottom-0"
                         *ngIf="isLoading">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
        
                    <div class="text-4xl font-extrabold tracking-tight flex flex-col sm:flex-row flex-0 sm:items-center">
                        <mat-icon class="icon-size-10" style="cursor:pointer;margin-right: 10px;" svgIcon="heroicons_solid:arrow-circle-left" [routerLink]="['/member/', memberId]"></mat-icon>
        
                        <div>Transactions</div>
                    </div>
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                            <mat-icon class="icon-size-5"
                                      matPrefix
                                      [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input matInput
                                   [formControl]="searchInputControl"
                                   [autocomplete]="'off'"
                                   [placeholder]="'Search Transaction'">
                        </mat-form-field>

                        <!--sorting dropdown-->
                        <mat-form-field class="ml-4 fuse-mat-no-subscript memberpoint-2-sort">
                            <mat-select [(ngModel)]="selectedCoulumn" (selectionChange)="sortingColumnList()">
                                <mat-option value="orderno">Order No</mat-option>
                                <mat-option value="amount">Amount</mat-option>
                                <mat-option value="date">Date</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--sorting button-->
                        <button class="ml-2 sort-btn-01"
                            (click)="sortingPageList()"
                            [ngClass]="{'sort-asc': isAscending, 'sort-desc': !isAscending}"
                            mat-flat-button
                            [color]="'primary'">
                        </button>
                    </div>
                </div>
        
                <!-- Transaction lists -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container *ngIf="(transactions$ | async) as transactions">
                        <ng-container *ngIf="transactions.length; else noTransaction">
                            <div class="grid">
                                <!--header-->
                                <div class="transaction-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                     matSort
                                     matSortDisableClear>

                                     <div class="sm:block">
                                        Order No
                                    </div>
        
                                    <div class="sm:block">
                                        Amount
                                    </div>
        
                                    <div class="sm:block">
                                        Channel
                                    </div>
                                    <div class="sm:block">
                                        Earned Points
                                    </div>
                                    <!-- <div class="sm:block">
                                        $ Value
                                    </div> -->
                                    <div class="sm:block">
                                        Point Type
                                    </div>
                                    <div class="sm:block">
                                        Date
                                    </div>

                                    <!-- <div class="sm:block"
                                         [mat-sort-header]="'document_no'">
                                        Order No
                                    </div>
        
                                    <div class="sm:block"
                                         [mat-sort-header]="'total_amount'">
                                        Amount
                                    </div>
        
                                    <div class="sm:block">
                                        Channel
                                    </div>
                                    <div class="sm:block">
                                        Points
                                    </div>
                                    <div class="sm:block">
                                        $ Value
                                    </div>
                                    <div class="sm:block">
                                        Point Type
                                    </div>
                                    <div class="sm:block"
                                         [mat-sort-header]="'transaction_date'">
                                        Date
                                    </div> -->
                                </div>
        
                                <!-- Rows -->
                                <ng-container *ngIf="(transactions$ | async) as transactions">
                                    <ng-container *ngFor="let transaction of transactions; trackBy: trackByFn">
                                        <ng-container *ngIf="transaction.point_type !== 'adjustment'">
                                            <a class="cursor-pointer hover:bg-gray-100 dark:hover:bg-hover"
                                               [routerLink]="canEdit ? ['/member/', memberId , 'transaction', transaction.id] : null"
                                               (click)="openDetail()">
        
                                                <div class="transaction-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
        
        
                                                    <div class=" truncate" [matTooltip]="transaction.document_no">
                                                        {{transaction.document_no}}
                                                    </div>
        
                                                    <div class="sm:block truncate">
                                                        ${{transaction.total_amount | number : '1.2-2'}}
                                                    </div>
        
                                                    <ng-container *ngIf="transaction.transaction_channel !== null">
                                                        <div class="sm:block truncate">
                                                            {{transaction.transaction_channel.name}}
                                                        </div>
                                                    </ng-container>
        
                                                    <ng-container *ngIf="transaction.transaction_channel === null">
                                                        <div class="sm:block truncate">
                                                            -
                                                        </div>
                                                    </ng-container>
        
                                                    <div class="sm:block truncate">
                                                        {{transaction.point}}
                                                    </div>
        
                                                    <!-- <div class="sm:block truncate">
                                                        ${{transaction.point_amount | number : '1.2-2'}}
                                                    </div> -->
        
                                                    <div class="sm:block truncate" style="text-transform:capitalize;">
                                                        {{transaction.point_type}}
                                                    </div>
        
                                                    <div class="sm:block">
                                                        {{transaction.transaction_date | date:'MMM dd, y'}}
                                                    </div>
                                                </div>
                                            </a>
                                            <ng-container *ngIf="transaction.point_type === 'adjustment'">
                                                <div class="transaction-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                    <div class=" truncate" [matTooltip]="transaction.document_no">
                                                        {{transaction.document_no}}
                                                    </div>
            
                                                    <div class="sm:block truncate">
                                                        ${{transaction.total_amount | number : '1.2-2'}}
                                                    </div>
            
                                                    <ng-container *ngIf="transaction.transaction_channel !== null">
                                                        <div class="sm:block truncate">
                                                            {{transaction.transaction_channel.name}}
                                                        </div>
                                                    </ng-container>
            
                                                    <ng-container *ngIf="transaction.transaction_channel === null">
                                                        <div class="sm:block truncate">
                                                            -
                                                        </div>
                                                    </ng-container>
            
                                                    <div class="sm:block truncate">
                                                        {{transaction.point}}
                                                    </div>
            
                                                    <div class="sm:block truncate">
                                                        ${{transaction.point_amount | number : '1.2-2'}}
                                                    </div>
            
                                                    <div class="sm:block truncate" style="text-transform:capitalize;">
                                                        {{transaction.point_type}}
                                                    </div>
            
                                                    <div class="sm:block">
                                                        {{transaction.transaction_date | date:'MMM dd, y'}}
                                                    </div>
                                                </div>
                                            </ng-container>
                                           <!--  <div class="deleteTransactionscss">
                                                <ng-container *ngIf="canDelete">
                                                    <button
                                                            mat-flat-button
                                                            [color]="'primary'"
                                                            [matTooltip]="'Delete'"
                                                            (click)="DeleteDrawer(transaction.id)"
                                                            >
                                                            Delete
                                                        </button>
                                                </ng-container>
        
                                                <ng-container *ngIf="!canDelete">
                                                </ng-container>
                                            </div> -->
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <mat-paginator class="custom-paging sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                           [ngClass]="{'pointer-events-none': isLoading}"
                                           [length]="pagination.length"
                                           [pageIndex]="pagination.page"
                                           [pageSize]="pagination.limit"
                                           [pageSizeOptions]="[5, 10, 15, 25, 50]"
                                           [showFirstLastButtons]="true"></mat-paginator>
                        </ng-container>
        
                    </ng-container>
                    <ng-template #noTransaction>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no transactions!</div>
                    </ng-template>
                </div>
        
        
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

