<mat-drawer-container class="flex flex-col w-full">
    <mat-drawer class="w-2/4 dark:bg-gray-900"
                [mode]="'over'"
                [opened]="false"
                [position]="'end'"
                [disableClose]="true"
                #matDrawer>

        <!-- Member Tier List-->
        <ng-container *ngIf="MemberTierListMode">
            <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                <div class="">
                    <button mat-icon-button style="background-color:#ccc;"
                            [matTooltip]="'Close'"
                            (click)="matDrawer.close()">
                        <mat-icon class="text-white"
                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
            </div>  

            <div class="flex-auto">
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Member Tier</div>
                    </div>
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">

                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                                <mat-icon class="icon-size-5"
                                          matPrefix
                                          [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input matInput
                                       [formControl]="memberTierSearchInputControl"
                                       [autocomplete]="'off'"
                                       [placeholder]="'Search Member Tier'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Member Tier List -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container *ngIf="(memberTiers$ | async) as memberTiers">
                        <ng-container *ngIf="memberTiers.length; else noPoints">
                            <div class="grid">
                                <!-- Header -->
                                <div class="point_rule_tier_grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                     matSort
                                     matSortDisableClear>
                                    <div></div>
                                    <div class="sm:block">
                                        Name
                                    </div>
                                    <div class="hidden md:block">
                                        Level
                                    </div>
                                    <!-- <div class="sm:block"
                                         [mat-sort-header]="'name'">
                                        Name
                                    </div>
                                    <div class="hidden md:block"
                                         [mat-sort-header]="'level'">
                                        Level
                                    </div> -->
                                </div>
                                <!-- Rows -->
                                <ng-container *ngIf="(memberTiers$ | async) as memberTiers">
                                    <ng-container *ngFor="let memberTier of memberTiers; trackBy: trackByFn">
                                        <div class="point_rule_tier_grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                            <div>
                                                <input type="radio" name="memberTier" #memberTier (click)="selectTier(memberTier.id,memberTier.name)" />
                                            </div>

                                            <div class=" truncate">
                                                {{memberTier.name}}
                                            </div>

                                            <div class="hidden md:block truncate">
                                                Level {{memberTier.level}}
                                            </div>

                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <div class="">
                                <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                               [ngClass]="{'pointer-events-none': isLoading}"
                                               [length]="memberTierPagination.length"
                                               [pageIndex]="memberTierPagination.page"
                                               [pageSize]="memberTierPagination.limit"
                                               [pageSizeOptions]="[10, 25, 100]"
                                               [showFirstLastButtons]="true"></mat-paginator>
                            </div>


                        </ng-container>
                    </ng-container>

                    <ng-template #noBaskets>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no point basket!</div>
                    </ng-template>

                </div>
            </div>
        </ng-container>
        <!-- Point Basket List -->
        <ng-container *ngIf="PointBasketListMode">
            <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                <div class="">
                    <button mat-icon-button style="background-color:#ccc;"
                            [matTooltip]="'Close'"
                            (click)="matDrawer.close()">
                        <mat-icon class="text-white"
                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
            </div>          
            <div class="flex-auto">
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none"> Point Basket </div>
                    </div>
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                            <button class="ml-4" style="position: relative; bottom: 10px;"
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="createNewPointBasket()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Add</span>
                            </button>
                        </div>
                        
                    </div>
                </div>

                <!-- Point Basket List -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container *ngIf="(pointBaskets$ | async) as pointBaskets">
                        <ng-container *ngIf="pointBaskets.length; else noPointBasket">
                            <div class="grid">
                                <!-- Header -->
                                <div class="point_rule_tier_grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                     matSort
                                     matSortDisableClear>
                                    <div></div>
                                    <div class="sm:block">
                                        Name
                                    </div>
                                    <!-- <div class="sm:block"
                                         [mat-sort-header]="'name'">
                                        Name
                                    </div> -->
                                </div>
                                <!-- Rows -->
                                <ng-container *ngIf="(pointBaskets$ | async) as pointBaskets">
                                    <ng-container *ngFor="let pointBasket of pointBaskets; trackBy: trackByFn">
                                        <div class="point_rule_tier_grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                            <div>
                                                <input type="radio" name="pointBasket" #pointBasket (click)="selectPointBasket(pointBasket.id,pointBasket.name)" />
                                            </div>

                                            <div class=" truncate">
                                                {{pointBasket.name}}
                                            </div>

                                            <!-- <div class="hidden md:block truncate">
                                                Level {{memberTier.level}}
                                            </div> -->

                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <div class="">
                                <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                               [ngClass]="{'pointer-events-none': isLoading}"
                                               [length]="pointBasketPagination.length"
                                               [pageIndex]="pointBasketPagination.page"
                                               [pageSize]="pointBasketPagination.limit"
                                               [pageSizeOptions]="[10, 25, 100]"
                                               [showFirstLastButtons]="true"></mat-paginator>
                            </div>
                        </ng-container>
                    </ng-container>

                    <ng-template #noPointBasket>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no point basket!</div>
                    </ng-template>

                </div>
            </div>
        </ng-container>
        <!-- Point Basket Add and Edit Form -->
        <ng-container *ngIf="pointbasketMode">
            <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                <div class="">
                    <button mat-icon-button style="background-color:#ccc;"
                            [matTooltip]="'Close'"
                            (click)="closeBasketForm()">
                        <mat-icon class="text-white"
                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
                <div class="w-full text-3xl font-bold" style="position: relative; top: 10px; text-align:center;"> Point Basket </div>
            </div>

            <div class="flex-auto p-5">
                <form [formGroup]="PointBasketForm">

                    <div class="mt-8 hidden">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>id</mat-label>
                            <input matInput
                                    [formControlName]="'id'"
                                    [placeholder]="'id'">
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Name</mat-label>
                            <mat-icon matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                            <input matInput
                                [formControlName]="'name'"
                                [placeholder]="'name'">
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Description</mat-label>
                            <mat-icon matPrefix
                                    class="hidden sm:flex icon-size-5"
                                    [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                            <input matInput
                                [formControlName]="'description'"
                                [placeholder]="'description'">
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Redemption Type</mat-label>
                            <mat-select [formControlName]="'spending_type'" [(ngModel)]="spendingtypeValue">
                                <mat-option [value]="0">None</mat-option>
                                <mat-option [value]="1">Instant Redemption</mat-option>
                                <mat-option [value]="2">Redemption Basket</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!--redemptionType-->
                    <ng-container *ngIf="spendingtypeValue === 1">
                        <div class="flex sm:items-center mt-8">
                            <div class="w-full text-3xl font-bold">To</div>
                        </div> 

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Spending Validity Type</mat-label>
                                <mat-select [formControlName]="'to_type'" [(ngModel)]="totypeValue">
                                    <mat-option [value]="0">None</mat-option>
                                    <mat-option [value]="1">Day</mat-option>
                                    <mat-option [value]="2">Month</mat-option>
                                    <mat-option [value]="3">Year</mat-option>
                                    <mat-option [value]="4">Date</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <ng-container *ngIf="totypeValue === 1 || totypeValue === 2 || totypeValue=== 3">
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Validity Number</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                    <input matInput type="number"
                                        [formControlName]="'to_number'"
                                        [placeholder]="'validity number'">
                                </mat-form-field>
                            </div>
    
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Spending End</mat-label>
                                    <mat-select [formControlName]="'to_end_type'" [(ngModel)]="toendTypeValue">
                                        <mat-option [value]="0">None</mat-option>
                                        <mat-option [value]="1">Expire Month End</mat-option>
                                        <mat-option [value]="2">Expire Date</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </ng-container>
                        
                        <ng-container *ngIf="totypeValue === 4">
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>End Date</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <input matInput type="datetime-local"
                                        [min]="minDate"
                                        [formControlName]="'to_end_date'"
                                        [placeholder]="'End Date'">
                                    <!-- <mat-datepicker-toggle matSuffix
                                                        [for]="endDatepicker">
                                    </mat-datepicker-toggle> -->
                                    <mat-datepicker #endDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </ng-container>
                        
                    </ng-container>

                    <!--redemptionBasket-->
                    <ng-container *ngIf="spendingtypeValue === 2">
                        <div class="flex sm:items-center mt-8">
                            <div class="w-full text-3xl font-bold">From</div>
                        </div> 

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Spending Validity Type</mat-label>
                                <mat-select [formControlName]="'from_type'" [(ngModel)]="fromtypeValue">
                                    <mat-option [value]="0">None</mat-option>
                                    <mat-option [value]="1">Day</mat-option>
                                    <mat-option [value]="2">Month</mat-option>
                                    <mat-option [value]="3">Year</mat-option>
                                    <mat-option [value]="4">Date</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <ng-container *ngIf="fromtypeValue === 1 || fromtypeValue === 2 || fromtypeValue=== 3">
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Validity Number</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                    <input matInput type="number"
                                        [formControlName]="'from_number'"
                                        [placeholder]="'validity number'">
                                </mat-form-field>
                            </div>
    
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Spending Start</mat-label>
                                    <mat-select [formControlName]="'from_start_type'" [(ngModel)]="fromstarttypeValue">
                                        <mat-option [value]="0">None</mat-option>
                                        <mat-option [value]="1">Current Date</mat-option>
                                        <mat-option [value]="2">Current Month Start</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </ng-container>
                        
                        <ng-container *ngIf="fromtypeValue === 4">
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Start Date</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <input matInput type="datetime-local"
                                        [min]="minDate"
                                        [formControlName]="'from_start_date'"
                                        [placeholder]="'Start Date'">
                                    <!-- <mat-datepicker-toggle matSuffix
                                                        [for]="startDatepicker">
                                    </mat-datepicker-toggle> -->
                                    <mat-datepicker #startDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </ng-container>
                        

                        <div class="flex sm:items-center mt-8">
                            <div class="w-full text-3xl font-bold">To</div>
                        </div>    

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Spending Validity Type</mat-label>
                                <mat-select [formControlName]="'to_type'" [(ngModel)]="totypeValue">
                                    <mat-option [value]="0">None</mat-option>
                                    <mat-option [value]="1">Day</mat-option>
                                    <mat-option [value]="2">Month</mat-option>
                                    <mat-option [value]="3">Year</mat-option>
                                    <mat-option [value]="4">Date</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <ng-container *ngIf="totypeValue === 1 || totypeValue === 2 || totypeValue === 3">
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Validity Number</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                    <input matInput type="number"
                                        [formControlName]="'to_number'"
                                        [placeholder]="'validity number'">
                                </mat-form-field>
                            </div>
    
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Spending End</mat-label>
                                    <mat-select [formControlName]="'to_end_type'" [(ngModel)]="toendTypeValue">
                                        <mat-option [value]="0">None</mat-option>
                                        <mat-option [value]="1">Expire Month End</mat-option>
                                        <mat-option [value]="2">Expire Date</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </ng-container>
                        
                        <ng-container *ngIf="totypeValue === 4">
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>End Date</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <input matInput type="datetime-local"
                                        [min]="minDate"
                                        [formControlName]="'to_end_date'"
                                        [placeholder]="'End Date'">
                                    <!-- <mat-datepicker-toggle matSuffix
                                                        [for]="endDatepicker">
                                    </mat-datepicker-toggle> -->
                                    <mat-datepicker #endDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </ng-container>
                    </ng-container> 

                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <button class="ml-2"
                                mat-flat-button
                                [disabled]="PointBasketForm.invalid"
                                [color]="'primary'"
                                [matTooltip]="'Save'"
                                (click)="createPointBasket()"> 
                            Save
                        </button>
                    </div>

                </form>
            </div>
        </ng-container>
    </mat-drawer>
    <mat-drawer-content>
        <div class="flex flex-col w-full" style="background:#fff;">
            <!--  Point rule Lists -->
            <ng-container *ngIf="!AddMode">
                <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

                    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                        <div class="absolute inset-x-0 bottom-0"
                            *ngIf="isLoading">
                            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                        </div>
                        <div class="text-4xl font-extrabold tracking-tight">Point Rules</div>
                        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                                <mat-icon class="icon-size-5"
                                        matPrefix
                                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Search point rule'">
                            </mat-form-field>
                            <button class="ml-4"
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="toogleStoreAddFormMode(true)">
                                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                <span class="ml-2 mr-1">Add</span>
                            </button>
                        </div>
                    </div>

                    <div class="flex flex-auto overflow-hidden">
                        <!-- Point Rule list -->
                        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                            <ng-container *ngIf="(pointRules$ | async) as products">
                                <ng-container *ngIf="products.length > 0; else noProducts">
                                    <div class="grid">

                                        <div class="prule-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                            matSort
                                            matSortDisableClear>

                                            <div [mat-sort-header]="'name'"> Name </div>
                                            <div [mat-sort-header]="'reward_code'"> Reward Code </div>
                                            <div [mat-sort-header]="'point_value'"> Point Value </div>
                                            <div [mat-sort-header]="'member_tierFullName'"> Member Tier </div>
                                            <div [mat-sort-header]="'start_date'"> Start Date </div>
                                            <div [mat-sort-header]="'end_date'"> End Date </div>
                                        </div>

                                        <!-- Rows -->
                                        <ng-container *ngIf="(pointRules$ | async) as products">
                                            <ng-container *ngFor="let product of products; trackBy: trackByFn">
                                                <a class=" cursor-pointer hover:bg-gray-100 dark:hover:bg-hover"
                                                [routerLink]="['./', product.id]">
                                                    <div class="prule-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                        <div class="truncate">
                                                            {{product.name}}
                                                        </div>


                                                        <div class="truncate">
                                                            {{product.reward_code}}
                                                        </div>


                                                        <div class="truncate">
                                                            {{product.point_value}}
                                                        </div>

                                                        <div class="truncate">
                                                            {{product.member_tierFullName}}
                                                        </div>

                                                        <ng-container *ngIf="product.validity_type === '2'">
                                                            <div class="truncate">
                                                                {{product.start_date | date:'MMM dd, y'}}
                                                            </div>

                                                            <div class="truncate">
                                                                {{product.end_date | date:'MMM dd, y'}}
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </a>
                                            </ng-container>
                                        </ng-container>
                                    </div>

                                    <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                                [ngClass]="{'pointer-events-none': isLoading}"
                                                [length]="pagination.length"
                                                [pageIndex]="pagination.page"
                                                [pageSize]="pagination.size"
                                                [pageSizeOptions]="[10, 25, 100]"
                                                [showFirstLastButtons]="true"></mat-paginator>

                                </ng-container>
                            </ng-container>

                        </div>

                    </div>

                </div>
            </ng-container>

            <!-- Point Rule Add Mode-->
            <ng-container *ngIf="AddMode">

                <div class="relative w-full h-20 sm:h-20 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700" style="position: sticky !important;top: 0;z-index: 99;">
                    <div class="flex items-center w-full max-w-3xl mx-auto pt-2">
                        <div class="mt-3 text-4xl w-full font-bold truncate">Add Point Rule</div>
                        <button mat-icon-button
                                [matTooltip]="'Close'"
                                (click)="toogleStoreAddFormMode(false)"
                                style="background:#ccc;">
                            <mat-icon class="text-white"
                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </button>
                    </div>
                </div>
                

                <!-- Add Form -->
                <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
                    <div class="w-full max-w-3xl">
                        <form [formGroup]="PointRuleAddForm">

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Name</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                    <input matInput
                                        [formControlName]="'name'"
                                        [placeholder]="'name'"
                                        [spellcheck]="false">
                                </mat-form-field>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Description</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                    <input matInput
                                        [formControlName]="'description'"
                                        [placeholder]="'description'">
                                </mat-form-field>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Reward Code</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                    <input matInput
                                        [formControlName]="'reward_code'"
                                        [placeholder]="'reward_code'">
                                </mat-form-field>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Type</mat-label>
                                    <mat-select [formControlName]="'type'">
                                        <mat-option value="basic_rule">Basic Rule</mat-option>
                                        <mat-option value="event_rule">Event Rule</mat-option>
                                        <!--<mat-option value="referral_rule">Customer Referral</mat-option>-->
                                        <mat-option value="birthday_rule">Birthday Event</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!--addDollarValue-->
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-1/3 mr-4">
                                    <mat-label>Dollar Value</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                    <input matInput type="number"
                                        [formControlName]="'dollar_value'"
                                        [placeholder]="'Dollar Value'">
                                </mat-form-field>

                                <mat-label>To</mat-label>

                                <mat-form-field class="fuse-mat-no-subscript w-1/3 ml-4">
                                    <mat-label>Point Value</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                    <input matInput type="number"
                                        [formControlName]="'point_value'"
                                        [placeholder]="'Point Value'">
                                </mat-form-field>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Status</mat-label>
                                    <mat-select [formControlName]="'status'">
                                        <mat-option value="active">Active</mat-option>
                                        <mat-option value="inactive">Inactive</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            
                            <div class="flex sm:items-center mt-8">
                                <div class="w-full text-3xl font-bold">Type Detail</div>
                            </div>

                            <mat-form-field class="fuse-mat-no-subscript w-full hidden ">
                                <input matInput [formControlName]="'member_tier'" />
                            </mat-form-field>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full" (click)="setMemberTierDrawer()">
                                    <mat-label>Member Tier</mat-label>
                                    <input matInput style="cursor:pointer" readonly
                                        [formControlName]="'member_tierFullName'"
                                        placeholder="Select Member Tier">
                                    <mat-icon matSuffix svgIcon="heroicons_outline:external-link" style="cursor:pointer"></mat-icon>
                                </mat-form-field>

                            </div>
                            
                            <mat-form-field class="fuse-mat-no-subscript w-full hidden ">
                                <input matInput [formControlName]="'basket_id'" />
                            </mat-form-field>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full" (click)="setPointBasketDrawer()">
                                    <mat-label>Point Basket</mat-label>
                                    <input matInput style="cursor:pointer" readonly
                                        [formControlName]="'point_basketName'"
                                        placeholder="Create Point Basket">
                                    <mat-icon matSuffix svgIcon="heroicons_outline:external-link" style="cursor:pointer"></mat-icon>
                                </mat-form-field>
                            </div>
                            
                            <div class="flex sm:items-center mt-8">
                                <div class="w-full text-3xl font-bold">Validity</div>
                            </div>

                            <!--addValidityValue-->
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Validity Type</mat-label>
                                    <mat-select [formControlName]="'validity_type'" [(ngModel)]="validitytypeValue">
                                        <mat-option [value]="1">No Range</mat-option>
                                        <mat-option [value]="2">Custom</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <ng-container *ngIf="validitytypeValue == '2'">
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Start Date</mat-label>
                                        <mat-icon matPrefix
                                                class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                        <input matInput type="datetime-local"
                                            [min]="minDate"
                                            [formControlName]="'start_date'"
                                            [placeholder]="'Start Date'">
                                        <!-- <mat-datepicker-toggle matSuffix
                                                            [for]="startDatepicker">
                                        </mat-datepicker-toggle> -->
                                        <mat-datepicker #startDatepicker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>End Date</mat-label>
                                        <mat-icon matPrefix
                                                class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                        <input matInput type="datetime-local"
                                            [min]="minDate"
                                            [formControlName]="'end_date'"
                                            [placeholder]="'End Date'">
                                        <!-- <mat-datepicker-toggle matSuffix
                                                            [for]="endDatepicker">
                                        </mat-datepicker-toggle> -->
                                        <mat-datepicker #endDatepicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </ng-container>

                            <div class="flex justify-end items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                                <button class="ml-2" style="width:16%;"
                                        mat-flat-button
                                        [disabled]="PointRuleAddForm.invalid"
                                        [color]="'primary'"
                                        [matTooltip]="'Save'"
                                        (click)="createPointRule()">
                                    Save
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </ng-container>
        </div>
    </mat-drawer-content>
</mat-drawer-container>