
    <div class="flex flex-col w-full" style="background:#FFF;padding: 1.5em;">

        <div class="flex w-full mt-3 w-full justify-center">
            <div class="text-3xl font-bold">Member Point Upload</div>
            <div class="ml-3 flex items-center"><a href="assets/downloads/memberpoint.csv" download style="color:blue; border-bottom: 1px solid blue;">Download Template</a></div>
        </div>

        <div class="w-full mt-5">
            <mat-card class="flex" style="column-gap:40px;box-shadow: 1px 1px 15px 1px #ccc; border-radius: 10px;">
                <div class="w-full" style="border: 1px dashed black; border-radius: 10px">
                    <div class="mb-5"> <span class="text-2xl font-bold justify-center" style="position: relative; top: 1rem; left: 1rem; border-bottom: 1px solid black;"> Select File And Upload </span></div>
                    <div class="w-full h-50 flex items-center justify-center" style="cursor:pointer; border-radius: 3px;">
                        <div style="border-bottom: 1px solid black;">
                            <input class="ng-hide mr-9" #fileInput multiple type="file" accept=".csv" (change)="onFileSelect($event)" style="margin-bottom: 9px;" />
                            <button mat-icon-button [matTooltip]="'Clear'" *ngIf="fileToUpload" (click)="clearFileToUpload()" style="width: 35px; height: 35px; border-radius: 9999px !important; border: 1px solid #4f46e5; top: 1px;">
                                <span>x</span>
                            </button>
                        </div>

                        <button for="input-file-id" 
                            class="h-10 md-button md-raised md-primary"
                            (click)="uploadFile()"
                            style="width: 6rem !important;"
                            [disabled]="isUploadDisabled"
                            mat-flat-button
                            [color] = "'primary'">
                            Upload
                        </button>
                    </div>
                    <div *ngIf="fileNotAcceptedErrorMessage" style="position: relative; bottom: 4.3rem; text-align: center; color: red;">
                        {{ fileNotAcceptedErrorMessage }}
                    </div>
                    <div *ngIf="errorMessage" style="position: relative; bottom: 21%; text-align: center; color: red;">
                        {{ errorMessage }}
                    </div>
                    <div style="position: relative; bottom: 3.4rem; text-align: justify; display: grid; line-height: 1; justify-content: center;">
                        <span>* MemberCode or Email column is required.</span> <br/>
                        <span>* ExpiryDate or BasketName column is required.</span> <br/>
                        <span>* Point column is required.</span>
                    </div>
                </div>
            </mat-card>
        </div>

        <div *ngIf="uploadData">
            <div class="flex w-full" style="align-items: center;">
                <div class="w-1/4" style="padding: 15px;">
                    <span class="text-2xl font-bold"> Upload Record </span>
                </div>
    
                <div class="w-3/4 flex justify-end" style="padding:26px;padding-bottom:0; align-items: center;">
                    
                </div>
            </div>
           
            <!-- Upload History Lists-->
            <div class="w-full">
                <div class="grid">
                    <div class="import-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-200 dark:bg-black dark:bg-opacity-5"
                         matSort
                         matSortDisableClear>
    
                         <div> Member Code </div>
                         <div> Name  </div>
                         <div> Email </div>
                         <div> Tier </div>
                         <div> Date </div>
                         <div> Points </div>
                    </div>
    
                    <!-- Rows -->
                    <ng-container *ngFor="let upload of uploadData">
                        <div class="import-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                            <div>
                                {{upload.member_code}}
                            </div>
    
                            <div>
                                {{upload.name}}
                            </div>
    
                            <div>
                                {{upload.email}}
                            </div>
    
                            <div>
                                {{upload.member_tier}}
                            </div>
    
                            <div>
                                {{upload.date | date:'MMM dd, y'}}
                            </div>
    
                            <div>
                                {{upload.points}}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
    
            <div class="flex justify-end items-center mt-10 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                
                <div *ngIf="uploadSuccess" style="padding: 1rem;color: green; font-size: 15px;">
                    Uploaded Successfully!
                </div>
                <button
                        style="width: 6rem;"
                        mat-flat-button
                        [color] = "'primary'"
                        *ngIf="!uploadSuccess"
                        class="h-10 md-button md-raised md-primary"
                        (click)="proceedUploadFile()">
                    Proceed
                </button>
            </div>
        </div>

    </div>
