<div class="flex flex-col w-full">
    <ng-container *ngIf="!AddMode">
        <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

            <!-- Header -->
            <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                <!-- Loader -->
                <div class="absolute inset-x-0 bottom-0"
                     *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <!-- Title -->
                <div class="text-4xl font-extrabold tracking-tight">Login User</div>
                <!-- Actions -->
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <!-- Search -->
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                        <mat-icon class="icon-size-5"
                                  matPrefix
                                  [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <input matInput
                               [formControl]="searchInputControl"
                               [autocomplete]="'off'"
                               [placeholder]="'Search Login User'">
                    </mat-form-field>

                    <!--sorting dropdown-->
                    <mat-form-field class="ml-4 fuse-mat-no-subscript user-2-sort">
                        <span class="user_sort_by">Sort By:</span>
                        <mat-select [(ngModel)]="selectedCoulumn" (selectionChange)="sortingColumnList()">
                            <mat-option value="username">Username</mat-option>
                            <mat-option value="firstname">First Name</mat-option>
                            <mat-option value="lastname">Last Name</mat-option>
                            <mat-option value="email">Email</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!--sorting button-->
                    <button class="ml-2 user-sort-btn-01" 
                        (click)="sortingPageList()"
                        [ngClass]="{'sort-asc': isAscending, 'sort-desc': !isAscending}"
                        mat-stroked-button>
                    </button>
                </div>
            </div>

            <!-- Main -->
            <div class="flex flex-auto overflow-hidden">

                <!-- Store list -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <ng-container *ngIf="(users$ | async) as users">
                        <ng-container *ngIf="users.length > 0; else noUsers">
                            <div class="grid">
                                <!-- Header -->
                                <div class="user-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                     matSort
                                     matSortDisableClear>

                                    <div> Username </div>
                                    <div> First Name </div>
                                    <div> Last Name </div>
                                    <div> Email </div>
                                </div>

                                <!-- Rows -->
                                <ng-container *ngIf="(users$ | async) as users">
                                    <ng-container *ngFor="let user of users; trackBy: trackByFn">
                                        <a class=" cursor-pointer hover:bg-gray-100 dark:hover:bg-hover"
                                           [routerLink]="['./', user.id]">

                                            <div class="user-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                                <div class="hidden md:block truncate" [matTooltip]="user.username">
                                                    {{user.username}}
                                                </div>

                                                <div class="truncate" [matTooltip]="user.first_name">
                                                    {{user.first_name}}
                                                </div>

                                                <div class="truncate" [matTooltip]="user.last_name">
                                                    {{user.last_name}}
                                                </div>

                                                <div class="truncate" [matTooltip]="user.email">
                                                    {{user.email}}
                                                </div>
                                            </div>
                                        </a>
                                    </ng-container>
                                </ng-container>
                            </div>

                            <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                           [ngClass]="{'pointer-events-none': isLoading}"
                                           [length]="pagination.length"
                                           [pageIndex]="pagination.page"
                                           [pageSize]="pagination.size"
                                           [pageSizeOptions]="[10, 25, 100]"
                                           (page)="onPageChange($event)"
                                           [showFirstLastButtons]="true"></mat-paginator>

                        </ng-container>
                    </ng-container>

                    <ng-template #noUsers>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no users!</div>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-container>
</div>

