<mat-drawer-container class="flex flex-col w-full">
    <mat-drawer class="user_reset_popup dark:bg-gray-900"
                [mode]="'over'"
                [opened]="false"
                [disableClose]="true"
                #matDrawer>

        <!-- Reset QR Code Popup -->
        <ng-container *ngIf="ResetQRCodeMode">
            <ng-container *ngIf="isSuccess">
                <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                    <div>
                        <button mat-icon-button style="background-color:#ccc; position: fixed; right: 1rem;"
                                [matTooltip]="'Close'"
                                (click)="cancelPopup()">
                            <mat-icon class="text-white"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="mt-8">
                    <div *ngIf="successMessage" class="user_successMessage_scss">
                        {{ successMessage }}
                    </div>
                    <div *ngIf="errorMessage" class="user_errorMessage_scss">
                        {{ errorMessage }}
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!isSuccess">
                <div class="user_parent_popup">
                    <div>
                        <div class="user_delete_scss"> Are you sure want to reset your QR code? </div>
                    </div>    
                    <div class="user_child_btn">
                        <button
                                mat-flat-button
                                [color]="'primary'"
                                [matTooltip]="'Cancel'"
                                (click)="cancelPopup()"
                                >
                            Cancel
                        </button>
    
                        <button
                                mat-flat-button
                                [color]="'primary'"
                                [matTooltip]="'Proceed'"
                                (click)="proceedPopup()"
                                >
                            Proceed
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <!-- After saving user detail Popup -->
        <ng-container *ngIf="UpdateUserDetailMode">
            <ng-container *ngIf="isUpadteUserSuccess">
                <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                    <div class="">
                        <button mat-icon-button style="background-color:#ccc; position: fixed; right: 1rem;"
                                [matTooltip]="'Close'"
                                (click)="cancelUserPopup()">
                            <mat-icon class="text-white"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="mt-8">
                    <div *ngIf="userSuccessMessage" class="user_successMessage_scss">
                        {{ userSuccessMessage }}
                    </div>
                    <div *ngIf="userErrorMessage" class="user_errorMessage_scss">
                        {{ userErrorMessage }}
                    </div>
                </div>
            </ng-container>
        </ng-container>
        
    </mat-drawer>

    <mat-drawer-content  style="background-color: #fff;">
        <div class="flex flex-col w-full">
            <div class="relative w-full h-40 sm:h-20 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
                <div class="flex items-center w-full max-w-3xl mx-auto pt-2">
                    <div class="mt-3 text-4xl w-full font-bold truncate">Update Login User </div>
                    <button mat-icon-button
                            [matTooltip]="'Close'"
                            [routerLink]="['/users']"
                            style="background:#ccc;">
                        <mat-icon class="text-white"
                                  [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
            </div>
        
            <!-- Edit Form -->
            <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
                <div class="w-full max-w-3xl">
                    <form [formGroup]="UserEditForm">
        
                        <div class="mt-8 hidden">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <input matInput
                                       [formControlName]="'id'"
                                       [placeholder]="'id'" />
                            </mat-form-field>
                        </div>
        
                        <div class="relative flex flex-col flex-auto items-center">
                            <div class="w-full max-w-3xl">
                                <div class="flex flex-col mt-4 pt-6 space-y-3">
            
                                    <ng-container *ngIf="user.username">
                                        <div class="flex sm:items-center">
                                            <div class="w-1/4">User Name: </div>
                                            <div class="ml-6 leading-6">{{user.username}}</div>
                                        </div>
                                    </ng-container>
            
                                    <ng-container *ngIf="user.first_name">
                                        <div class="flex sm:items-center">
                                            <div class="w-1/4">First Name: </div>
                                            <div class="ml-6 leading-6">{{user.first_name}}</div>
                                        </div>
                                    </ng-container>
            
                                    <ng-container *ngIf="user.last_name">
                                        <div class="flex sm:items-center">
                                            <div class="w-1/4">Last Name: </div>
                                            <div class="ml-6 leading-6">{{user.last_name}}</div>
                                        </div>
                                    </ng-container>
        
                                    <ng-container *ngIf="user.email">
                                        <div class="flex sm:items-center">
                                            <div class="w-1/4">Email: </div>
                                            <div class="ml-6 leading-6">{{user.email}}</div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
        
                        <div class="flex items-center reset-rq-btn-scss -mx-6 sm:-mx-12 pr-4 pl-1 sm:pr-12 reset-qr-btn" style="gap: 1rem;">
                            <button class="ml-2"
                                    mat-flat-button
                                    [color]="'primary'"
                                    [matTooltip]="'Reset QR Code'"
                                    (click)="resetQRCodeDrawer()"
                                    >
                                Reset QR Code
                            </button>
                        </div>
                        
                        <div class="user-permission">
                            <mat-label class="text_1xl">User Permission:</mat-label>
                            <table class="w-full">
                                <tr class="font-bold">
                                    <td class="user-page-scss">Page</td>
                                    <td class="v-e-d">
                                        View
                                        <mat-checkbox
                                            color="primary"
                                            [checked]="viewAllChecked" 
                                            [indeterminate]="isViewFewSelected()" 
                                            (change)="setViewAll($event.checked)">
                                        </mat-checkbox>
                                    </td>
                                    <td class="v-e-d">
                                        Edit
                                        <mat-checkbox
                                            color="primary"
                                            [checked]="editAllChecked" 
                                            [indeterminate]="isEditFewSelected()" 
                                            (change)="setEditAll($event.checked)">
                                        </mat-checkbox>
                                    </td>
                                    <td class="v-e-d">
                                        Delete
                                        <mat-checkbox
                                            color="primary"
                                            [checked]="deleteAllChecked" 
                                            [indeterminate]="isDeleteFewSelected()" 
                                            (change)="setDeleteAll($event.checked)">
                                        </mat-checkbox>
                                    </td>
                                </tr>
                                <tr *ngFor="let key of page_roles">
                                    <td class="user-page-scss">
                                        {{key.title}}
                                    </td>
    
                                    <td class="v-e-d">
                                        <div>
                                            <mat-checkbox
                                                color="primary"
                                                [(ngModel)]="key.can_view" 
                                                (ngModelChange)="updateViewAllComplete()"
                                                [formControlName]="'view-'+ key.id">
                                            </mat-checkbox>
                                        </div>
                                    </td>
    
                                    <td class="v-e-d">
                                        <div>
                                            <mat-checkbox
                                                color="primary"
                                                [(ngModel)]="key.can_edit" 
                                                (ngModelChange)="updateEditAllComplete()"
                                                [formControlName]="'edit-'+ key.id">
                                            </mat-checkbox>
                                        </div>
                                    </td>
    
                                    <td class="v-e-d">
                                        <div>
                                            <mat-checkbox
                                                color="primary"
                                                [(ngModel)]="key.can_delete" 
                                                (ngModelChange)="updateDeleteAllComplete()"
                                                [formControlName]="'delete-'+ key.id">
                                            </mat-checkbox>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                            <button style="width: 6rem;"
                                    *ngIf="canEdit"
                                    class="ml-2"
                                    mat-flat-button
                                    [disabled]="UserEditForm.invalid"
                                    [color]="'primary'"
                                    [matTooltip]="'Save'"
                                    (click)="updateUser()"
                                    >
                                Save
                            </button>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
