
<div class="flex flex-col w-full">
    <div class="flex items-center w-full max-w-3xl mx-auto pt-2">
        <div class="mt-3 text-4xl w-full font-bold truncate">Update Login User </div>
        <button mat-icon-button
                [matTooltip]="'Close'"
                [routerLink]="['/users']"
                style="background:#ccc;">
            <mat-icon class="text-white"
                      [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Edit Form -->
    <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
        <div class="w-full max-w-3xl">
            <form [formGroup]="UserEditForm">

                <div class="mt-8 hidden">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <input matInput
                               [formControlName]="'id'"
                               [placeholder]="'id'" />
                    </mat-form-field>
                </div>

                <div class="mt-8">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>First Name</mat-label>
                        <mat-icon matPrefix
                                  class="hidden sm:flex icon-size-5"
                                  [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        <input matInput
                               [formControlName]="'first_name'"
                               [placeholder]="'first_name'"
                               [spellcheck]="false">
                    </mat-form-field>
                </div>

                <div class="mt-8">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Last Name</mat-label>
                        <mat-icon matPrefix
                                  class="hidden sm:flex icon-size-5"
                                  [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        <input matInput
                               [formControlName]="'last_name'"
                               [placeholder]="'last_name'"
                               [spellcheck]="false">
                    </mat-form-field>
                </div>

                <div class="mt-8">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Role</mat-label>
                                  <mat-select [formControlName]="'role'">
                                    <ng-container *ngFor="let r of roles">
                                        <mat-option [value]="r.id">
                                            {{r.name}}
                                        </mat-option>
                                    </ng-container>
                                  </mat-select>
                    </mat-form-field>
                </div>
                <div class="mt-8">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Email</mat-label>
                        <mat-icon matPrefix
                                  class="hidden sm:flex icon-size-5"
                                  svgIcon="heroicons_outline:mail"></mat-icon>
                        <input matInput
                               [formControlName]="'email'"
                               [placeholder]="'email'">
                    </mat-form-field>
                </div>

                <div class="mt-8">
                    <mat-password-strength
                    #passwordComponent
                    [min]="8"
                    [enableLowerCaseLetterRule]="true"
                    [enableSpecialCharRule]="false"
                    (onStrengthChanged)="onStrengthChanged($event)"
                    [password]="password.value"
                  >
                  </mat-password-strength>
                    <div>
                        <mat-form-field
                          style="width: 100%"
                          class="fuse-mat-no-subscript w-full"
                        >
                          <mat-label>Password</mat-label>
                          <mat-icon matPrefix
                          class="hidden sm:flex icon-size-5"
                          svgIcon="heroicons_outline:key"></mat-icon>
                          <input
                            matInput
                            #password
                            type="password"
                            [formControlName]="'password'"
                            [placeholder]=""
                            >
                        </mat-form-field>
                      </div>
                </div>


                <div class="mt-8">
                    <mat-password-strength-info 
                    [passwordComponent]="passwordComponent">
                    
                     </mat-password-strength-info>
                </div>


                <div class="mt-8">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Status</mat-label>
                        <mat-select [formControlName]="'status'">
                            <mat-option value="active">Active</mat-option>
                            <mat-option value="inactive">Inactive</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>



                <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                    <button class="ml-2"
                            mat-flat-button
                            [disabled]="UserEditForm.invalid"
                            [color]="'primary'"
                            [matTooltip]="'Save'"
                            (click)="updateUser()"
                            >
                        Save
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<!--<ng-container *ngIf="!editMode">
        <div class="flex flex-col w-full">
            <div class="relative w-full h-40 sm:h-20 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
                <div class="flex items-center w-full max-w-3xl mx-auto pt-2">
                    <div class="mt-3 text-4xl w-full font-bold truncate">
                        {{user.name}}
                        <button mat-stroked-button
                                (click)="toggleEditMode(true)">
                            <mat-icon class="icon-size-5"
                                      [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                            <span class="ml-2">Edit</span>
                        </button>
                    </div>
                    <button mat-icon-button
                            [matTooltip]="'Close'"
                            [routerLink]="['/store']"
                            style="background:#ccc;">
                        <mat-icon class="text-white"
                                  [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>

            </div>

            <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0 custom-layout">
                <div class="w-full max-w-3xl">
                    <div class="flex flex-col mt-4 pt-6 space-y-3">
                        <div class="flex sm:items-center">
                            <div class="w-full text-3xl font-bold">Basic Information </div>
                        </div>


                        <ng-container *ngIf="store.code">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">Description: </div>
                                <div class="ml-6 leading-6">{{store.code}}</div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="store.user_created">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">User Created Date: </div>
                                <div class="ml-6 leading-6">{{store.user_created}}</div>
                            </div>
                        </ng-container>



                        <ng-container *ngIf="store.date_created">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">Created Date: </div>
                                <div class="ml-6 leading-6">{{store.date_created | date:'MMM dd, y'}}</div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="store.date_updated">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">Last Update Date: </div>
                                <div class="ml-6 leading-6">{{store.date_updated | date:'MMM dd, y'}}</div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="store.status">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">Status: </div>
                                <div class="ml-6 leading-6">{{store.status}}</div>
                            </div>
                        </ng-container>

                        <div class="flex sm:items-center mt-3">
                            <div class="w-full text-3xl font-bold">Address Information </div>
                        </div>

                        <ng-container *ngIf="store.address_line_1">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">Address 1: </div>
                                <div class="ml-6 leading-6">{{store.address_line_1}}</div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="store.address_line_2">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">Address 1: </div>
                                <div class="ml-6 leading-6">{{store.address_line_2}}</div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="store.postal_code">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">Postal Code: </div>
                                <div class="ml-6 leading-6">{{store.postal_code}}</div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="store.city">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">City: </div>
                                <div class="ml-6 leading-6">{{store.city}}</div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="store.state">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">State: </div>
                                <div class="ml-6 leading-6">{{store.state}}</div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="store.region">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">Region: </div>
                                <div class="ml-6 leading-6">{{store.region}}</div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="store.country">
                            <div class="flex sm:items-center">
                                <div class="w-1/4">Country: </div>
                                <div class="ml-6 leading-6">{{store.country}}</div>
                            </div>
                        </ng-container>

                    </div>

                </div>
            </div>
        </div>

    </ng-container>-->
