<div class="flex flex-col w-full">
    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-3 px-6 md:px-8 border-b">
            <div>
                <div class="text-4xl font-extrabold tracking-tight leading-none">Members</div>
            </div>
            <div class="flex items-center mt-4 sm:mt-0 md:mt-4">

                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                        <mat-icon class="icon-size-5"
                                  matPrefix
                                  [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <input matInput
                               [formControl]="searchInputControl"
                               [autocomplete]="'off'"
                               [placeholder]="'Search Members'">
                    </mat-form-field>
                </div>

                <!--Filter By Member Tier-->
                <mat-form-field class="ml-4 fuse-mat-no-subscript member-2-sort">
                    <span class="member_sort_by">Filter By:</span>
                    <mat-select [(ngModel)]="selectedMemberTierFilter" (selectionChange)="memberTierFilterChange($event)">
                        <mat-option disabled value="memberTier">Member Tier</mat-option>
                        <ng-container *ngFor="let tier of getMemberTierResponse">
                            <mat-option [value]="tier.id">
                                {{tier.name}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <!--sorting dropdown-->
                <mat-form-field class="ml-4 fuse-mat-no-subscript member-2-sort">
                    <span class="member_sort_by">Sort By:</span>
                    <mat-select [(ngModel)]="selectedCoulumn" (selectionChange)="sortingColumnList()">
                        <mat-option value="membercode">Member Code</mat-option>
                        <mat-option value="firstname">First Name</mat-option>
                        <mat-option value="lastname">Last Name</mat-option>
                        <mat-option value="email">Email</mat-option>
                        <mat-option value="mobile">Mobile</mat-option>
                        <mat-option value="createddate">Created Date</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--sorting button-->
                <button class="ml-2 member-sort-btn-01"
                    (click)="sortingPageList()"
                    [ngClass]="{'sort-asc': isAscending, 'sort-desc': !isAscending}"
                    mat-stroked-button>
                </button>
            </div>
        </div>

        <!-- Members list -->
        <div class="flex flex-col flex-auto sm:mb-18 sm:overflow-y-auto" style="position:relative;">
            <ng-container *ngIf="(members$ | async) as members">
                <ng-container *ngIf="members.length; else noMembers">
                    <div class="grid">
                        <!-- Header -->
                        <div class="member-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                             matSort
                             matSortDisableClear>

                            <div class="sm:block">
                                Member Code
                            </div>
                            <div class="hidden md:block">
                                Member Tier
                            </div>
                            <div class="sm:block">
                                First Name
                            </div>
                            <div class="sm:block">
                                Last Name
                            </div>
                            <div class="md:block">
                                Email
                            </div>
                            <div class="lg:block" style="text-align: center;">
                                Mobile
                            </div>
                            <div class="sm:block" style="text-align: center;">
                                Created Date
                            </div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(members$ | async) as members">
                            <ng-container *ngFor="let member of members; trackBy: trackByFn">
                                <a class=" cursor-pointer"
                                   [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedMember || selectedMember.id !== member.id,
                                            'bg-primary-50 dark:bg-hover': selectedMember && selectedMember.id === member.id}"
                                   [routerLink]="['/member', member.id]">

                                    <div class="member-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                        <div class=" truncate">
                                            {{member.member_code}}
                                        </div>

                                        <div class="hidden md:block truncate">
                                            {{member.member_tier}}
                                        </div>

                                        <div class="sm:block truncate" [matTooltip]="member.first_name">
                                            {{member.first_name}}
                                        </div>

                                        <div class="hidden sm:block truncate" [matTooltip]="member.last_name">
                                            {{member.last_name}}
                                        </div>
                                        <div class="hidden md:block">
                                            {{member.email}}
                                        </div>
                                        <div class="hidden lg:block truncate" style="text-align: center;">
                                            {{member.mobile_phone}}
                                        </div>
                                        <div class="hidden lg:block truncate" style="text-align:center;">
                                            {{member.date_created | date:'MMM dd, y'}}
                                        </div>
                                    </div>
                                </a>
                                <div class="grid">
                                    <ng-container *ngIf="selectedMember?.id === member.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: member}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container> 
                        </ng-container>
                    </div>

                    <mat-paginator class="custom-paging-memberview sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                   [ngClass]="{'pointer-events-none': isLoading}"
                                   [length]="pagination.length"
                                   [pageIndex]="pagination.page"
                                   [pageSize]="pagination.limit"
                                   [pageSizeOptions]="[5, 10, 15, 25, 50]"
                                   (page)="onPageChange($event)"
                                   [showFirstLastButtons]="true"></mat-paginator>

                </ng-container>
            </ng-container>

            <ng-template #noMembers>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no members!</div>
            </ng-template>

        </div>

    </div>
</div>

