.member-grid {
    grid-template-columns: 150px 100px 120px 120px auto 120px 130px;
    /* grid-template-columns: 150px 100px 120px 150px 100px 80px 100px 100px 70px auto; */
}

.sort-asc::after {
    content: '\2191';
  }

.sort-desc::after {
    content: '\2193';
}

.member-2-sort {
    position: static;
    width: 10rem !important;
}

.sort-btn-01 {
    border-radius: 3px !important;
    padding: 12px !important;
    min-width: 5px !important;
}

.advancedSearch-gird {
    grid-template-columns: 150px 150px 150px 100px 100px auto;
}
.custom-paging {
    position: fixed !important;
    margin-bottom: 55px;
}

.mat-paginator-container {
    margin-left: 281px;
}


/*------ Accordian Advanced Search ------*/
.example-action-buttons {
    padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}
