<mat-drawer-container class="flex flex-col w-full">
    <mat-drawer #drawerTwo class="w-2/4 dark:bg-gray-900"
                [mode]="'over'"
                [opened]="false"
                [position]="'end'"
                [disableClose]="true">

        <!-- Tier Upgrade Form-->
        <ng-container *ngIf="tierUpgradeFormMode">
            <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                <div class="">
                    <button mat-icon-button style="background-color:#ccc;"
                            [matTooltip]="'Close'"
                            (click)="drawerTwo.close()">
                        <mat-icon class="text-white"
                                  [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
                <div class="w-full text-3xl font-bold" style="text-align:center;">Member Tier Upgrade</div>
            </div>

            <div class="flex-auto p-5">
                <form [formGroup]="TierUpgradeForm">

                    <div class="mt-8 hidden">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>id</mat-label>
                            <input matInput
                                   [formControlName]="'id'"
                                   [placeholder]="'id'">
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Item Number</mat-label>
                            <input matInput
                                   [formControlName]="'item_number'"
                                   [placeholder]="'item_number'">
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Price</mat-label>
                            <mat-icon matPrefix
                                      class="hidden sm:flex icon-size-5"
                                      [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                            <input matInput type="number"
                                   [formControlName]="'price'"
                                   [placeholder]="'price'">
                        </mat-form-field>
                    </div>

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Upgrade Tier</mat-label>
                            <mat-select [formControlName]="'upgrade_tier'">
                                <ng-container *ngFor="let tier of memberTiers">
                                    <mat-option [value]="tier.id">
                                        {{tier.name}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <button class="ml-2" style="width: 6rem;"
                                mat-flat-button
                                [disabled]="TierUpgradeForm.invalid"
                                [color]="'primary'"
                                [matTooltip]="'Save'"
                                (click)="createTierUpgrade()">
                            Save
                        </button>
                    </div>

                </form>
            </div>
        </ng-container>

    </mat-drawer>

    <mat-drawer-content>
        <!-- Member Tier List-->
        <ng-container *ngIf="!pointAddFormMode">
            <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <div class="absolute inset-x-0 bottom-0"
                         *ngIf="isLoading">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                  
                    <div class="text-4xl font-extrabold tracking-tight">Member Tier</div>
                    
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                        <!-- Search -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                            <mat-icon class="icon-size-5"
                                      matPrefix
                                      [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input matInput
                                   [formControl]="searchInputControl"
                                   [autocomplete]="'off'"
                                   [placeholder]="'Search Member Tier'">
                        </mat-form-field>

                        <!--sorting dropdown-->
                        <mat-form-field class="ml-4 fuse-mat-no-subscript membertier-2-sort">
                            <span class="membertier_sort_by">Sort By:</span>
                            <mat-select [(ngModel)]="selectedCoulumn" (selectionChange)="sortingColumnList()">
                                <mat-option value="name">Name</mat-option>
                                <mat-option value="code">Code</mat-option>
                                <mat-option value="level">Level</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--sorting button-->
                        <button class="ml-2 membertier-sort-btn-01"
                            (click)="sortingPageList()"
                            [ngClass]="{'sort-asc': isAscending, 'sort-desc': !isAscending}"
                            mat-stroked-button>
                        </button>

                        <button *ngIf="canEdit" class="ml-4"
                                mat-stroked-button
                                (click)="tooglepointAddFormMode(true)">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Add</span>
                        </button>
                    </div>
                </div>

                <!-- Main -->
                <div class="flex flex-auto overflow-hidden">

                    <!-- Channel list -->
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <ng-container *ngIf="(memberTiers$ | async) as memberTiers">
                            <ng-container *ngIf="memberTiers.length > 0; else noMemberTiers">
                                <div class="grid">
                                    <!-- Header -->
                                    <div class="membertier-list-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                         matSort
                                         matSortDisableClear>

                                        <div> Name</div>
                                        <div> Code </div>
                                        <div> Level </div>
                                        <div>  Condition </div>
                                    </div>

                                    <!-- Rows -->
                                    <ng-container *ngIf="(memberTiers$ | async) as membertiers">
                                        <ng-container *ngFor="let memberTier of memberTiers; trackBy: trackByFn">
                                            <a class=" cursor-pointer hover:bg-gray-100 dark:hover:bg-hover"
                                               [routerLink]="canEdit ? ['./', memberTier.id] : null">

                                                <div class="membertier-list-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                                    <div class="truncate">
                                                        {{memberTier.name}}
                                                    </div>

                                                    <div class="truncate">
                                                        {{memberTier.code}}
                                                    </div>

                                                    <div class="truncate">
                                                        Level {{memberTier.level}}
                                                    </div>

                                                    <ng-container *ngIf="memberTier.condition_type === 0">
                                                        <div class="truncate">
                                                            Amount
                                                        </div>
                                                    </ng-container>

                                                    <ng-container *ngIf="memberTier.condition_type === 1">
                                                        <div class="truncate">
                                                            Point Range
                                                        </div>
                                                    </ng-container>
                                                    
                                                    <!-- <div class="truncate">
                                                        within {{memberTier.condition_period_value}} {{memberTier.condition_period}} spent min ${{memberTier.min_condition_amount}} to ${{memberTier.max_condition_amount}}
                                                    </div> -->

                                                </div>
                                            </a>
                                            <div class="grid">
                                                <ng-container *ngIf="selectedMemberTier?.id === memberTier.id">
                                                    <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: memberTier}"></ng-container>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>

                                <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                               [ngClass]="{'pointer-events-none': isLoading}"
                                               [length]="pagination.length"
                                               [pageIndex]="pagination.page"
                                               [pageSize]="pagination.limit"
                                               [pageSizeOptions]="[5, 10, 25, 100]"
                                               (page)="onPageChange($event)"
                                               [showFirstLastButtons]="true"></mat-paginator>

                            </ng-container>
                        </ng-container>

                        <ng-template #noMemberTiers>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no member tiers!</div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- Add Form-->
        <ng-container *ngIf="pointAddFormMode">
            <div class="flex flex-col w-full">
                <div class="flex items-center w-full max-w-3xl mx-auto pt-2">
                    <div class="mt-3 text-4xl w-full font-bold truncate">Add Member Tier</div>
                    <button mat-icon-button
                            [matTooltip]="'Close'"
                            (click)="AddFormclose()" style="background:#ccc;">
                        <mat-icon class="text-white"
                                  [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>

                <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12" style="background:#FFF;">
                    <div class="w-full max-w-3xl">
                        <form [formGroup]="memberTierAddForm">

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Name</mat-label>
                                    <mat-icon matPrefix
                                              class="hidden sm:flex icon-size-5"
                                              [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                    <input matInput
                                           [formControlName]="'name'"
                                           [placeholder]="'Name'"
                                           [spellcheck]="false">
                                </mat-form-field>
                            </div>


                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Code</mat-label>
                                    <mat-icon matPrefix
                                              class="hidden sm:flex icon-size-5"
                                              [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <input matInput
                                           [formControlName]="'code'"
                                           [placeholder]="'Code'">
                                </mat-form-field>
                            </div>


                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Description</mat-label>
                                    <mat-icon matPrefix
                                              class="hidden sm:flex icon-size-5"
                                              [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                    <input matInput
                                           [formControlName]="'description'"
                                           [placeholder]="'Description'">
                                </mat-form-field>
                            </div>


                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Level</mat-label>
                                    <mat-select [formControlName]="'level'">
                                        <mat-option [value]="1">Level 1</mat-option>
                                        <mat-option [value]="2">Level 2</mat-option>
                                        <mat-option [value]="3">Level 3</mat-option>
                                        <mat-option [value]="4">Level 4</mat-option>
                                        <mat-option [value]="5">Level 5</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Status</mat-label>
                                    <mat-select [formControlName]="'status'">
                                        <mat-option value="active">Active</mat-option>
                                        <mat-option value="draft">Draft</mat-option>
                                        <mat-option value="inactive">Inactive</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>DW Member Group</mat-label>
                                    <mat-select [formControlName]="'dw_member_group'">
                                        <ng-container *ngFor="let dw of dwMemberGroups">
                                            <mat-option [value]="dw.id">
                                                {{ dw.name }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="flex sm:items-center mt-4">
                                <div class="w-full text_1xl font-bold" style="position: relative; top: 12px !important;">Upgrade</div>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Condition Type</mat-label>
                                    <mat-select [formControlName]="'condition_type'" [(ngModel)]="conditionTypeValue">
                                        <mat-option [value]="0">Amount</mat-option>
                                        <!-- <mat-option [value]="1">Point Range</mat-option> -->
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <ng-container *ngIf="conditionTypeValue === 0">
                                <div class="mt-3 text_1xl w-full font-bold truncate" style="position: relative; top: 15px;">Order Value</div>
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-1/3 mr-4">
                                        <mat-label>Min Amount</mat-label>
                                        <mat-icon matPrefix
                                                  class="hidden sm:flex icon-size-5"
                                                  [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                               [formControlName]="'min_condition_amount'"
                                               [placeholder]="'Min Amount'">
                                    </mat-form-field>
    
                                    <mat-form-field class="fuse-mat-no-subscript w-1/3">
                                        <mat-label>Max Amount</mat-label>
                                        <mat-icon matPrefix
                                                  class="hidden sm:flex icon-size-5"
                                                  [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                               [(ngModel)]="maxAmount"
                                               (input)="maxAmountChange($event)"
                                               [formControlName]="'max_condition_amount'"
                                               [placeholder]="'Max Amount'">
                                    </mat-form-field>
                                </div>
                                
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Calculation Type</mat-label>
                                        <mat-select [formControlName]="'calculation_type'">
                                            <mat-option [value]="0">And</mat-option>
                                            <mat-option [value]="1">Or</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="mt-3 text_1xl w-full font-bold truncate" style="position: relative; top: 15px;">Total Order Value for Period</div>
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-1/3 mr-4">
                                        <mat-label>Min Amount</mat-label>
                                        <mat-icon matPrefix
                                                  class="hidden sm:flex icon-size-5"
                                                  [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                               [formControlName]="'total_min_amount'"
                                               [placeholder]="'Min Amount'">
                                    </mat-form-field>
    
                                    <mat-form-field class="fuse-mat-no-subscript w-1/3">
                                        <mat-label>Max Amount</mat-label>
                                        <mat-icon matPrefix
                                                  class="hidden sm:flex icon-size-5"
                                                  [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                               [(ngModel)]="totalMaxAmount"
                                               (input)="totalMaxAmountChange($event)"
                                               [formControlName]="'total_max_amount'"
                                               [placeholder]="'Max Amount'">
                                    </mat-form-field>
                                </div>

                                <div class="mt-3 text_1xl w-full font-bold truncate" style="position: relative; top: 15px;">Order Value Period</div>
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-1/3 mr-4">
                                        <mat-label>Condition Period</mat-label>
                                        <mat-select [formControlName]="'condition_period'" [(ngModel)]="conditionPeriodValue">
                                            <mat-option [value]="0">None</mat-option>
                                            <mat-option [value]="1">Days</mat-option>
                                            <mat-option [value]="2">Months</mat-option>
                                            <mat-option [value]="3">Years</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="fuse-mat-no-subscript w-1/3" style="position: relative; top: 4px;">
                                        <mat-label>Condition Period Value</mat-label>
                                        <mat-icon matPrefix
                                                  class="hidden sm:flex icon-size-5"
                                                  [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                               [formControlName]="'condition_period_value'"
                                               [placeholder]="'Condition Period Value'">
                                    </mat-form-field>
                                </div>

                                <mat-form-field class="fuse-mat-no-subscript w-full hidden">
                                    <input matInput readonly style="cursor:pointer;"
                                           [formControlName]="'tier_upgrade_items'">
                                </mat-form-field>
    
                                <div class="mt-3 text_1xl w-full font-bold truncate" style="position: relative; top: 15px !important;">Upgrade Items</div>
                                <div class="mt-8">
                                    <label>Tier Upgrade Item</label>
                                    <ng-container *ngIf="selectedUpgradeItem.length === 0">
                                        <div class="mt-3 h-12" style="cursor: pointer; border: 1px solid #ccc; border-radius: 6px; padding: 10px;">
                                            <span style="color:#ccc;">Create Tier Upgrade Item</span>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="selectedUpgradeItem.length > 0">
                                        <ng-container *ngFor="let item of selectedUpgradeItem; trackBy: trackByFn">
                                            <div [matTooltip]="'Edit Item'" (click)="setTierUpgradeEditForm(item.id)" class="mt-3 h-12" style="border: 1px solid #ccc;border-radius: 10px;padding: 12px;cursor: pointer;">
                                                {{item.item_number}}
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
    
                                <div class="mt-4">
                                    <button class="w-1/8"
                                            mat-stroked-button
                                            [matTooltip]="'Create Tire Upgrade Item'"
                                            (click)="openTierUpgradeForm()">
                                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                        <span class="ml-2 mr-1">Add</span>
                                    </button>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="conditionTypeValue === 1">
                                <div class="mt-8">
                                    <div class="mt-3 text_1xl w-full font-bold truncate" style="position: relative; bottom: 13px !important;">Upgrade</div>
                                    <mat-form-field class="fuse-mat-no-subscript w-1/4 mr-4">
                                        <mat-label>Min Point</mat-label>
                                        <!-- <mat-icon matPrefix
                                                  class="hidden sm:flex icon-size-5"
                                                  [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon> -->
                                        <input matInput type="number"
                                               [formControlName]="'min_point'"
                                               [placeholder]="'Min Point'">
                                    </mat-form-field>
    
                                    <mat-form-field class="fuse-mat-no-subscript w-1/4">
                                        <mat-label>Max Point</mat-label>
                                        <!-- <mat-icon matPrefix
                                                  class="hidden sm:flex icon-size-5"
                                                  [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon> -->
                                        <input matInput type="number"
                                               [formControlName]="'max_point'"
                                               [placeholder]="'Max Point'">
                                    </mat-form-field>
                                </div>

                                <mat-form-field class="fuse-mat-no-subscript w-full hidden">
                                    <input matInput readonly style="cursor:pointer;"
                                           [formControlName]="'tier_upgrade_items'">
                                </mat-form-field>
    
                                <div class="mt-3 text_1xl w-full font-bold truncate" style="position: relative; top: 15px !important;">Upgrade Items</div>
                                <div class="mt-8">
                                    <label>Tier Upgrade Item</label>
                                    <ng-container *ngIf="selectedUpgradeItem.length === 0">
                                        <div class="mt-3 h-12" style="cursor: pointer; border: 1px solid #ccc; border-radius: 6px; padding: 10px;">
                                            <span style="color:#ccc;">Create Tier Upgrade Item</span>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="selectedUpgradeItem.length > 0">
                                        <ng-container *ngFor="let item of selectedUpgradeItem; trackBy: trackByFn">
                                            <div [matTooltip]="'Edit Item'" (click)="setTierUpgradeEditForm(item.id)" class="mt-3 h-12" style="border: 1px solid #ccc;border-radius: 10px;padding: 12px;cursor: pointer;">
                                                {{item.item_number}}
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
    
                                <div class="mt-4">
                                    <button class="w-1/8"
                                            mat-stroked-button
                                            [matTooltip]="'Create Tire Upgrade Item'"
                                            (click)="openTierUpgradeForm()">
                                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                        <span class="ml-2 mr-1">Add</span>
                                    </button>
                                </div>
                            </ng-container>

                            <div class="flex sm:items-center mt-3">
                                <div class="w-full text_1xl font-bold" style="position: relative; top: 12px !important;">Downgrade</div>
                            </div>

                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-label>Downgrade Condition Type</mat-label>
                                    <mat-select [formControlName]="'downgrade_condition_type'" [(ngModel)]="downgradeconditionValue">
                                        <mat-option [value]="0">Never</mat-option>
                                        <mat-option [value]="1">Main Condition</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <ng-container *ngIf="downgradeconditionValue === 1">
                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Downgrade Condition Period</mat-label>
                                        <mat-select [formControlName]="'downgrade_condition_period'" [(ngModel)]="downgradeConditionPeriodTypeValue">
                                            <mat-option [value]="0">None</mat-option>
                                            <mat-option [value]="1">Days</mat-option>
                                            <mat-option [value]="2">Months</mat-option>
                                            <mat-option [value]="3">Years</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="mt-8">
                                    <mat-form-field class="fuse-mat-no-subscript w-full">
                                        <mat-label>Downgrade Condition Period Value</mat-label>
                                        <mat-icon matPrefix
                                                  class="hidden sm:flex icon-size-5"
                                                  [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                        <input matInput type="number"
                                               [formControlName]="'downgrade_condition_period_value'"
                                               [placeholder]="'Downgrade Condition Period Value'">
                                    </mat-form-field>
                                </div>
                            </ng-container>

                            <div class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                                <button class="ml-2" style="width: 6rem;"
                                        mat-flat-button
                                        [disabled]="memberTierAddForm.invalid"
                                        [color]="'primary'"
                                        [matTooltip]="'Save'"
                                        (click)="createMemberTier()">
                                    Save
                                </button>

                                <div *ngIf="errorMessage" style="position: relative; left: 1rem; color: red;">
                                    {{ errorMessage }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </ng-container>
    </mat-drawer-content>
</mat-drawer-container>
