<mat-drawer-container class="flex flex-col w-full">
    <mat-drawer #drawerOne class="reset_popup dark:bg-gray-900"
                [mode]="'over'"
                [opened]="false"
                [disableClose]="true"
                #matDrawer>

        <!-- Delete single redemption setting popup -->
        <ng-container *ngIf="DeleteMode">
            <ng-container *ngIf="isSuccess">
                <div class="flex justify-start w-full ng-tns-c188-34 p-5" style="margin-bottom: -2em;">
                    <div>
                        <button   
                                mat-icon-button style="background-color:#ccc; position: fixed; right: 1rem;"
                                [matTooltip]="'Close'"
                                (click)="cancelPopup()">
                            <mat-icon class="text-white"
                                        [svgIcon]="'heroicons_outline:x'"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="mt-8">
                    <div class="successMessage_scss" *ngIf="successMessage">
                        {{ successMessage }} 
                    </div>
                    <div class="errorMessage_scss" *ngIf="deleteErrorMessage">
                        {{ deleteErrorMessage }} 
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="!isSuccess">
                <div class="parent_popup">
                    <div>
                        <div class="delete-scss"> Are you sure want to delete? </div>
                    </div>    
                    <div class="child_btn">
                        <button class="ml-2"
                                mat-flat-button
                                [color]="'primary'"
                                [matTooltip]="'Cancel'"
                                (click)="cancelPopup()"
                                >
                            Cancel
                        </button>
    
                        <button class="ml-2"
                                mat-flat-button
                                [color]="'primary'"
                                [matTooltip]="'Proceed'"
                                (click)="proceedPopup()"
                                >
                            Proceed
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </mat-drawer>

    <mat-drawer-content style="background: #fff;">
        <div class="flex flex-col w-full">
            <div class="relative w-full h-40 sm:h-20 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
                <div class="flex items-center w-full max-w-3xl mx-auto pt-2">
                    <div class="mt-3 text-4xl w-full font-bold truncate">Redemption Setting</div>
                </div>
            </div>
            <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
                <div class="w-full max-w-3xl">
                    <form [formGroup]="RedemptionEditForm">

                        <div class="mt-8 hidden">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>id</mat-label>
                                <mat-icon matPrefix
                                          class="hidden sm:flex icon-size-5"
                                          [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
                                <input matInput
                                       [formControlName]="'id'"
                                       [placeholder]="'id'">
                            </mat-form-field>
                        </div>

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Type</mat-label>
                                <mat-select [formControlName]="'type'" [(ngModel)]="typeValue">
                                    <mat-option [value]="0">Base</mat-option>
                                    <mat-option [value]="1">Special</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <ng-container *ngIf="typeValue === 1">
                            <div class="mt-8">
                                <mat-form-field class="fuse-mat-no-subscript w-1/3 mr-4">
                                    <mat-label>Date From</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <input matInput type="datetime-local"
                                        [min]="minDate"
                                        [formControlName]="'date_from'"
                                        [placeholder]="'Date From'">
                                    <!-- <mat-datepicker-toggle matSuffix
                                                        [for]="startDatepicker">
                                    </mat-datepicker-toggle> -->
                                    <mat-datepicker #startDatepicker></mat-datepicker>
                                </mat-form-field>
    
                                <mat-form-field class="fuse-mat-no-subscript w-1/3">
                                    <mat-label>Date To</mat-label>
                                    <mat-icon matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                                    <input matInput type="datetime-local"
                                        [min]="minDate"
                                        [formControlName]="'date_to'"
                                        [placeholder]="'Date To'">
                                    <!-- <mat-datepicker-toggle matSuffix
                                                        [for]="endDatepicker">
                                    </mat-datepicker-toggle> -->
                                    <mat-datepicker #endDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </ng-container>
                        
                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Tier</mat-label>
                                <mat-select [formControlName]="'member_tier'">
                                    <mat-option [value]="0">All</mat-option>
                                    <ng-container *ngIf="(memberTiers$ | async) as memberTiers">
                                        <ng-container *ngFor="let tier of memberTiers">
                                            <mat-option [value]="tier.id">
                                                {{ tier.name }}
                                            </mat-option>
                                        </ng-container>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="mt-8">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Redemption Conversion Point 1$ =</mat-label>
                                <input matInput type="number"
                                       [formControlName]="'point_conversion'"
                                       [placeholder]="'Point Conversion'">
                            </mat-form-field>
                        </div>
                        
                        <div class="flex items-center justify-end mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                            <div *ngIf="errorMessage" style="color: red">
                                {{errorMessage}}
                            </div>
                            <div *ngIf="showButtonIsEdit">
                                <button class="ml-2" style="width: 6rem;"
                                    mat-flat-button
                                    [disabled]="RedemptionEditForm.invalid"
                                    [color]="'primary'"
                                    [matTooltip]="'Cancel'"
                                    (click)="cancelRedemption()">
                                    Cancel
                                </button>
                                <button class="ml-2" style="width: 6rem;"
                                    mat-flat-button
                                    [disabled]="RedemptionEditForm.invalid"
                                    [color]="'primary'"
                                    [matTooltip]="'Update'"
                                    (click)="updateRedemption()">
                                    Update
                                </button>
                            </div>
                            <div *ngIf="!showButtonIsEdit && canEdit">
                                <button class="ml-2" style="width: 6rem;"
                                    mat-flat-button
                                    [disabled]="RedemptionEditForm.invalid"
                                    [color]="'primary'"
                                    [matTooltip]="'Save'"
                                    (click)="updateRedemption()">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Redemption table -->
            <div class="flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent" style="position: relative; margin-left: 6rem !important; margin-right: 6rem !important;">
        
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <div class="absolute inset-x-0 bottom-0"
                         *ngIf="isLoading">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
    
                    <div class="text-4xl font-extrabold tracking-tight">Redemption Setting List</div>
    
                    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                        <!--sorting dropdown-->
                        <mat-form-field class="ml-4 fuse-mat-no-subscript" style="position: static; width: 11rem !important;">
                            <mat-select [(ngModel)]="selectedCoulumn" (selectionChange)="sortingColumnList()">
                                <mat-option value="type">Type</mat-option>
                                <mat-option value="pointconversion">Point Conversion</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--sorting button-->
                        <button class="ml-2 sort-btn-01"
                            (click)="sortingPageList()"
                            [ngClass]="{'sort-asc': isAscending, 'sort-desc': !isAscending}"
                            mat-flat-button
                            [color]="'primary'">
                        </button> 
                    </div>
                </div>
    
                <!-- Main -->
                <div class="flex flex-auto overflow-hidden">
    
                    <!-- Redemption List -->
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <ng-container *ngIf="(redemptions$ | async) as redemptions">
                            <ng-container *ngIf="redemptions.length > 0; else noredemptions">
                                <div class="grid">
                                    <!-- Header -->
                                    <div class="redemptionsetting-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                         matSort
                                         matSortDisableClear>
    
                                        <div> Type </div>
                                        <div> Date From </div>
                                        <div> Date To </div>
                                        <div> Member Tier </div>
                                        <div style="text-align: center;"> Point Conversion </div>
                                        <div style="text-align: center;"> Edit </div>
                                        <div style="text-align: center;"> Delete </div>
                                    </div>
    
                                    <!-- Rows -->
                                    <ng-container *ngIf="(redemptions$ | async) as redemptions">
                                        <ng-container *ngFor="let redem of redemptions; trackBy: trackByFn">
                                            <a class=" cursor-pointer hover:bg-gray-100 dark:hover:bg-hover">
                                                <div class="redemptionsetting-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                                   
                                                    <ng-container *ngIf="redem.type === 0">
                                                        <div class="truncate">
                                                            Base
                                                        </div>
                                                    </ng-container>
        
                                                    <ng-container *ngIf="redem.type === 1">
                                                        <div class="truncate">
                                                            Special
                                                        </div>
                                                    </ng-container>
        
                                                    <div class="truncate">
                                                        {{redem.date_from | date:'MMM dd, y'}}
                                                    </div>
        
                                                    <div class="truncate">
                                                        {{redem.date_to | date:'MMM dd, y'}}
                                                    </div>

                                                    <ng-container *ngIf="redem.member_tier === 0">
                                                        <div class="truncate" style="text-align: center;">
                                                            All
                                                        </div>
                                                    </ng-container>

                                                    <!-- <ng-container *ngIf="redem.member_tier">
                                                        <div class="truncate" style="text-align: center;">
                                                            {{redem.member_tier?.name}}
                                                        </div>
                                                    </ng-container> -->

                                                    <ng-container *ngIf="redem.member_tier === 35">
                                                        <div class="truncate" style="text-align: center;">
                                                            Be Informed
                                                        </div>
                                                    </ng-container>

                                                    <ng-container *ngIf="redem.member_tier === 27">
                                                        <div class="truncate" style="text-align: center;">
                                                            Be Rewarded
                                                        </div>
                                                    </ng-container>

                                                    <ng-container *ngIf="redem.member_tier === 28">
                                                        <div class="truncate" style="text-align: center;">
                                                            Be Wowed
                                                        </div>
                                                    </ng-container>
        
                                                    <div class="truncate" style="text-align: center;">
                                                        {{redem.point_conversion}}
                                                    </div>
        
                                                    <div class="truncate" style="text-align: center;">
                                                        <button mat-icon-button [matTooltip]="'Edit'" (click)="eidtRedemption(redem)">
                                                            <mat-icon>edit</mat-icon>
                                                        </button>
                                                    </div>
        
                                                    <div class="truncate" style="text-align: center;">
                                                        <button mat-icon-button [matTooltip]="'Delete'" color="warn" (click)="DeleteDrawer(redem.id)">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </a>
                                        </ng-container>
                                    </ng-container>
                                </div>
    
                                <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                        [ngClass]="{'pointer-events-none': isLoading}"
                                        [length]="pagination.length"
                                        [pageIndex]="pagination.page"
                                        [pageSize]="pagination.limit"
                                        [pageSizeOptions]="[5, 10, 25, 50]"
                                        [showFirstLastButtons]="true"></mat-paginator>
    
                            </ng-container>
                        </ng-container>

                        <ng-template #noredemptions>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no redemption setting list!</div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
